.fondomenu{
    background-color: white;
}
.fondomenu2{
    background-color: blueviolet;
}
    .fuente{

            font-family: "Architects Daughter", cursive;
            font-size: 30;
            color: yellow;
      }
      .fuente1{
            font-family: "Shadows Into Light", cursive;
            font-size: 30;
            color: blue;
          }
          
      .fuente2{
            font-family: "Indie Flower", cursive;
            font-size: 30;
            color:red;
          
          }
          
    